body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 64px; /* Visina AppBar-a */
  margin-bottom: 64px;
}

footer {
  width: 100vw;
  margin-top: auto; /* Footer se automatski gura na dno */
}
